#containerOnTop {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid rgba(139, 139, 139, 0.2);
}

#navButtons {
  display: flex;
  margin-right: 20px;
}

#icons {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  margin-right: 20px;
}

#logo {
  margin-left: 20px;
  cursor: pointer;
}

#logoText {
  font-weight: bold;
  color: #283593;
  font-size: 18px;
}