#page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #283593;
}

#container {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

#title {
  padding: 10px;
  margin: 0;
}

#buttons {
  display: flex;
  justify-content: center;
}

.button {
  margin: 5px;
}