#container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 20px;
}

#topContainer {
  display: flex;
  justify-content: space-between;
}

#innerRightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#innerLeftContainer {
  display: flex;
  flex-direction: column;
}

#user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#titleAndTimestamp {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-left: 20px;
}

#commentsContainer {
  display: flex;
  flex-direction: column;
}

.comment {
  /* border: 1px solid rgb(211, 211, 211);
  border-radius: 5px; */
  margin-top: 5px;
  padding: 1px 5px;
}

#commentInfo {
  font-size: 15px;
}

#commentInput {
  font-size: 15px;
  width: 300px;
  margin-top: 10px;
}
